<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\python39\python.exe|c:\python39\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="65536" />
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings>
    <!-- Full path to the WSGI handler in your wsgi.py -->
    <add key="WSGI_HANDLER" value="wsgi.app" />
    <add key="PYTHONPATH" value="%SystemDrive%\inetpub\wwwroot\InterviewPortal" />
    <add key="WSGI_LOG" value="%SystemDrive%\inetpub\logs\InterviewPortal\wfastcgi.log" />
  </appSettings>
</configuration>